* {
    box-sizing:border-box;
}

header {
    display: flex;
    justify-content: center;
}

header a {
    text-decoration: none;
    color: black;
}

table {
    width: 60%;
    height: 70px;
    border: 3px solid black;
    border-collapse: collapse;
}

td, tr, th {
    border: 2px solid black;
    border-collapse:collapse;
}

body {
    background-color: lightyellow;
    font-family: Arial;
}

#outer {
    display: flex;
    flex-direction: column;
}


nav {
    background-color: #333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 14px 10px;
}

nav a {
    padding: 14px 16px;
    color: white;
    text-decoration: none;
}

#search_zone {
    /* position:absolute;
    left: 30%;
    width: 40%;
    height: 70px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between; */

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 7vh 0 5vh;
    gap: 0 2vw;
}
/* #link4 {} */

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.image_container {
    /* width: 33%; */
    border-radius: 150px;
}

.images_col {
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    /* align-content: space-around; */
}


@media screen and (max-width: 550px) {
    .img-container {
        width: 100%;
        /* float: none; */
        /* padding: 10px 0px 10px 0px; */
    }

    header {
        width: 100%;
        flex-wrap: nowrap;
    }

    nav a {
        width: 100%;
        flex-direction: column;
    }
}